@import url("normalize.css");

body {
    min-height: 100vh;

    font-family: "Roboto", sans-serif;
}

.genericButton {
    gap: 10px;
    border: 0;
    margin: 0 auto;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
}

.genericButton:hover {
    cursor: pointer;
    background: none;
}

#header {
    height: 245px;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/banner-mobile.png");
}

#header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#header-logo {
    height: 23px;
    width: 77px;
}

#header-icons {
    gap: 1rem;
    display: flex;
    align-items: center;
}

#header-searchIcon {
    width: 13px;
    height: 11px;
}

#header-hamburger {
    gap: 5px;
    width: 23px;
    height: 13px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-hamburguer-div {
    border: 1px solid #000;
}

#header-titles {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#header-title,
#header-subtitle { margin: 0 }
#header-titles > div *:not(:last-child) { margin: 4px 0;}

#header-title {
    font-size: 25px;
    color: #3b3b3b;
}

#header-subtitle {
    font-weight: normal;
    font-size: 17px;
    color: #676767;
}

#header-button {
    width: 100px;
    height: 30px;
    border: 0;

    font-size: 9px;
    color: #fff;
    background: #26b522;
}

/* Main styles */

#main {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section { width: 100%; }

.main-section-title { text-align: center; }

.main-article {
    margin-bottom: 1rem;
    width: 100%;
}

/* Main About */

.main-about-article--hidden { 
    height: 0; 
    overflow: hidden;
}

.main-about-article-content {
    padding: 0 1rem;
    box-sizing: border-box;
    line-height: 2rem;
}

.main-about-image { width: 100%; }

#main-about-buttonArticle {
    gap: 10px;
    width: 102px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-about-button {
    gap: 1rem;
    color: #000;
}

#main-about-buttonIcon {
    color: #000;
}

#main-about-buttonIcon:hover {
    background: none;
}

/* Main-Portfolio */

.main-portfolio-article {
    gap: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-portfolio-article--hidden {
    height: 0;
    gap: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-portfolio-article--hidden > * { display: none; }

.main-portfolio-image { max-width: 100%; }

#main-portfolio-button {
    width: 238px;
    height: 54px;
    border: 0;
    color: #fff;
    background: #587292;
}

/* Main Contato */

#main-form {
    box-sizing: border-box;
    padding: 0 1rem;
}

.main-form-group {
    position: relative;
    width: 100%;
    height: 40px;
}

.main-form-group-message { height: 120px; }

.main-form-input {
    outline: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    box-sizing: border-box;
}

.main-form-input:focus { border: 1px solid 587292; }

.main-form-label {
    cursor: text;
    position: absolute;
    left: 1rem;
    top: 25%;
    transition: 350ms;
    background: #fff;
}

.main-form-textarealabel { top: 10%; }

.main-form-input:focus ~ .main-form-label,
.main-form-input:not(:placeholder-shown).main-form-input:not(:focus) ~ .main-form-label {
    top: -0.35rem;
    font-size: 0.75rem;
    padding: 0 0.125rem;
    transition: 350ms;
}

#main-form-button {
    width: 100%;
    height: 34px;
    font-size: 15px;
    background: #26b522;
}

/* Footer */

#footer {
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    box-sizing: border-box;

    color: #fff;
    background: #333;
}

.footer-text {
    margin: 0;
    margin-bottom: .5rem; 
}

.footer-section {
    padding: 1rem;
    border: 3pt solid #fff;
    border-bottom: 0;
    
    text-align: center;
    box-sizing: border-box;
}

.footer-section:last-of-type { border-bottom: 3pt solid #fff; }

.footer-article { margin-bottom: 1rem; }

#footer-form {
    display: flex;
    width: 100%;
}

.footer-input {
    outline: 0;
    width: 70%;
    padding-left: 1rem;
    box-sizing: border-box;
}

.footer-input:focus { border: 1px solid 587292; }

#footer-button {
    margin: 0;
    height: 34px;
    flex-grow: 1;
    font-size: 11px;
    background: #26b522;
}

#footer-portfolio {
    gap: 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.footer-portfolio-link {
    width: 89px;
    height: 88px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: #3b3b3b;
}

.footer-portfolio-link:hover { cursor: pointer; }

.footer-portfolio-link p {
    margin: 0;
    font-size: 11px;
}

.footer-portfolio-link img { max-width: 100%; }

.footer-section-button {
    gap: 10px;
    display: flex;
    align-items: center;

    color: #fff;
    background: none;
}

.footer-section-button:hover { background: none; }

@media (min-width: 1200px) {    
    #header {
        height: 526px;
        padding: 1.5rem 3rem;
    
        display: flex;
        flex-direction: column;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("../../assets/banner-desktop.jpg");
    }
    
    #header-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #header-logo {
        height: 23px;
        width: 77px;
    }

    #header-list {
        gap: 29px;
        margin: 0 15px;
        padding: 0;
        
        list-style: none;
        display: flex;

        font-size: 15px;
        font-weight: 700;
    }
    
    #header-icons {
        gap: 1rem;
        display: flex;
        align-items: center;
    }
    
    #header-searchIcon {
        width: 13px;
        height: 11px;
    }
    
    #header-hamburger { display: none; }
    
    #header-titles {
        text-align: left;
        align-items: start;
        justify-content: center;
    }

    #header-title,
    #header-subtitle { margin-bottom: 30px ;}
    
    #header-title {
        font-size: 44px;
        color: #3b3b3b;
    }
    
    #header-subtitle {
        font-weight: normal;
        font-size: 26px;
        color: #676767;
    }
    
    #header-button {
        width: 168px;
        height: 51px;
        border: 0;
    
        font-size: 15px;
        color: #fff;
        background: #26b522;
    }
}