@import url("normalize.css");

:root {

    --spacing-34px: 34px;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.genericButton {
    gap: 10px;
    border: 0;
    margin: 0 auto;
    font-size: 14pt;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    cursor: pointer;
}

.genericButton:hover {
    background: none;
}

@media (min-width: 0) {
    #header {
        position: relative;
        height: 245px;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("../../assets/banner-mobile.png");
    }

    #header-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #header-logo {
        height: 23px;
        width: 77px;
    }

    #header-list {
        height: 100%;
        width: 100%; 
        padding: 19px;
        margin: 0;
        
        list-style: none;
        text-align: right;
        box-sizing: border-box;

        position: absolute;
        top: 17%;
        left: 100%;

        display: grid;
        grid-template-rows: repeat(4, 1fr);
        
        background: #fff;
        transition: 250ms ease-in-out;
    }
    
    #header-list.show {
        left: 0;
        transition: 250ms ease-in-out;
    }

    .header-list-item { 
        cursor: pointer;
        font-weight: 700;
        font-size: 15pt;
    }
    
    .header-list-item a {
        color: #000;
        text-decoration: none;
    }

    #header-icons {
        gap: 1rem;
        display: flex;
        align-items: center;
    }

    #header-searchIcon {
        width: 13px;
        height: 11px;
    }

    #header-hamburger {
        gap: 5px;
        width: 23px;
        height: 13px;

        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-hamburguer-div {
        border: 1px solid #000;
    }

    #header-titles {
        margin-top: 40px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #header-title,
    #header-subtitle { margin: 0 }

    #header-title {
        margin-bottom: 4px;
        font-size: 25pt;
        color: #3b3b3b;
    }

    #header-subtitle {
        font-weight: normal;
        font-size: 17pt;
        color: #676767;
    }

    #header-button {
        width: 100px;
        height: 30px;
        border: 0;

        font-size: 9pt;
        color: #fff;
        background: #26b522;
    }

    /* Main styles */

    #main {    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-section { width: 100%; }

    .main-section-title { 
        font-family: "Open Sans", Roboto, sans-serif;
        text-align: center; }

    .main-article {
        width: 100%;
        margin-bottom: var(--spacing-34px);
    }

    #main-about-buttonFirst { display: none; }

    /* Main About */

    .main-about-second {
        height: 0;
        margin: 0;
        overflow: hidden;
        transition: 250ms ease-in-out;
    }

    .main-about-second.show {
        height: 100%;
        margin-bottom: 32px;
        transition: 250ms ease-in-out;
    }

    .main-about-article-content {
        margin-top: 0;
        padding: 0 1rem;
        box-sizing: border-box;
        line-height: 2rem;
    }

    .main-about-image { width: 100%; }

    #main-about-image-desktop { display: none; }

    #main-about-buttonArticle {
        gap: 10px;
        width: 102px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-about-button {
        gap: 1rem;
        color: #000;
        background: none;
    }

    #main-about-button:hover { background: none; }
    #main-about-buttonIcon { color: #000; }

    /* Main-Portfolio */

    .main-portfolio-article {
        gap: 1rem;
        padding: 0 1rem;
        box-sizing: border-box;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-portfolio-imageMobile {
        display: block;
        height: 0;
        transition: 250ms ease-in-out;
    }

    .main-portfolio-imageMobile.show {
        height: 100%;
        transition: 250ms ease-in-out;
    }

    .main-portfolio-article--hidden > * { display: none; }

    .main-portfolio-image { max-width: 100%; }
    #main-portfolio-imageDesktop { display: none;}

    #main-portfolio-button {
        width: 238px;
        height: 54px;
        border: 0;
        color: #fff;
        background: #587292;
    }

    /* Main Depoimentos */

    .main-testimony-article {
        gap: 32px;
        height: 100px;
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;

        overflow: hidden;
        box-sizing: border-box;

        display: flex;
        align-items: center;
    }

    .testimony-carousel-container { overflow: hidden; }
    .testimony-carousel-container-tablets,
    .testimony-carousel-container-Desktop { display: none;}

    .testimony-carousel-container,
    .carousel-track {
        width: 100%;
        height: 100%;
    }

    .carousel-track {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        transition: 250ms ease-in-out;
    }

    .carousel-slide {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .testimony-rating {
        width: 30%;
        margin-bottom: 7px;
        display: flex;
        justify-content: space-evenly;
    }

    .testimony-rating-icon { color: #f2d344; }


    .testimony-content {
        gap: 9px;
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .testimony-profile-picture {
        display: block;
        margin: auto;
        font-size: 2rpt;
    }

    .testimony-rating-icon,
    .testimony-profile-name {
        font-size: 9pt;
        margin-top: 0;
    }

    .testimony-profile-content {
        font-size: 7pt;
        margin: 0;
    }

    .testimony-button {
        z-index: 999;
        font-size: 17pt;
        color: #000;
        background: none;
    }

    /* Main Contato */

    #main-form {
        box-sizing: border-box;
        padding: 0 1rem;
    }

    .main-form-group {
        margin-bottom: 8px;
        position: relative;
        width: 100%;
        height: 40px;
    }

    .main-form-group-message { height: 120px; }

    .main-form-input {
        outline: 0;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        box-sizing: border-box;
    }

    .main-form-input:focus { border: 1px solid 587292; }

    .main-form-label {
        cursor: text;
        position: absolute;
        left: 1rem;
        top: 25%;
        transition: 350ms;
        background: #fff;
    }

    .main-form-textarealabel { top: 10%; }

    .main-form-input:focus ~ .main-form-label,
    .main-form-input:not(:placeholder-shown).main-form-input:not(:focus) ~ .main-form-label {
        top: -0.35rem;
        font-size:pt.75rem;
        padding: 0 0.125rem;
        transition: 350ms;
    }

    #main-form-helper-text {
        margin-bottom: 16px;
        text-align: center;
        font-size: 8pt;
    }

    .main-form-group-phone-desktop { display: none; }

    #main-form-span { color: #587fa2; }

    #main-form-button {
        width: 100%;
        height: var(--spacing-34px);
        font-size: 15pt;
        background: #26b522;
    }

    /* Footer */

    #footer {
        width: 100%;
        padding: 1rem;
        padding-top: 2rem;
        box-sizing: border-box;

        color: #fff;
        background: #333;
    }

    .footer-text {
        font-size: 14pt;
        margin: 0;
        margin-bottom: .5rem; 
    }

    .footer-section {
        border: 3pt solid #fff;
        border-bottom: 0;
        
        text-align: center;
        box-sizing: border-box;
    }

    .footer-section:not(:first-of-type) { border-bottom: 3pt solid #fff; }
    .footer-section-newsletter {padding: 19px; }
    .footer-article { margin-bottom: 1rem; }

    #footer-form {
        display: flex;
        width: 100%;
    }

    .footer-input {
        outline: 0;
        width: 60%;
        padding-left: 1rem;
        box-sizing: border-box;
    }

    .footer-input:focus { border: 1px solid 587292; }

    #footer-button {
        margin: 0;
        flex-grow: 1;
        font-size: 11pt;
        height: var(--spacing-34px);
        background: #26b522;
    }

    #footer-portfolio {
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-portfolio-link {
        width: 89px;
        height: 88px;
        margin-left: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        background: #3b3b3b;
    }

    .footer-portfolio-link:nth-of-type(2n) {
        margin-left: 0;
        margin-right: auto;
    }

    .footer-portfolio-link:hover { cursor: pointer; }

    .footer-portfolio-link p {
        margin: 0;
        font-size: 11pt;
    }

    .footer-portfolio-link img { max-width: 100%; }

    .footer-section-button {
        padding: 0;
        margin: auto;
        gap: 10px;
        display: flex;
        align-items: center;

        color: #fff;
        background: none;
    }

    .footer-menu {
        padding: 19px;
        box-sizing: border-box;
    }

    .footer-menus-divider {
        margin: 0;
        width: 100%;
        border: 1.5pt solid #fff;
    }

    .footer-section-button:hover { background: none; }

    .footer-menu-list,
    .footer-about-list {
        margin: 0;
        height: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        transition: 250ms ease-in-out;
    }

    .footer-menu-list.show,
    .footer-about-list.show {
        margin: 32px 0 0;
        height: 100%;
        transition: 250ms ease-in-out;
    }

    .footer-menu-listItem,
    .footer-about-listItem { margin-bottom: 22px; }

    .footer-about-listItem a,
    .footer-menu-listItem a {
        text-decoration: none;
        color: #fff
    }

    .footer-menu-listItem:last-of-type,
    .footer-about-listItem:last-of-type { margin-bottom: 0; }

    .footer-article-logo-desktop { display: none; }
}

@media (min-width: 900px) {
    /* Header Styles */

    #header {
        height: 526px;
        padding: 1.5rem 3rem;
    
        display: flex;
        flex-direction: column;
        background-image: url("../../assets/banner-desktop.jpg");
    }
    
    #header-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #header-logo {
        height: 23px;
        width: 77px;
    }

    #header-list {
        position: static;
        gap: 29px;
        margin: 0 15px;
        padding: 0;
        display: flex;
    }
    
    #header-icons {
        gap: 1rem;
        display: flex;
        align-items: center;
    }
    
    #header-searchIcon {
        width: 13px;
        height: 11px;
    }
    
    #header-hamburger { display: none; }
    
    #header-titles {
        text-align: left;
        align-items: start;
        justify-content: center;
    }
    
    #header-title {
        margin-bottom: 30px;
        font-size: 44pt;
        color: #3b3b3b;
    }
    
    #header-subtitle {
        margin-bottom: 1rem;
        font-weight: normal;
        font-size: 26pt;
        color: #676767;
    }
    
    #header-button {
        width: 168px;
        height: 51px;
        border: 0;
    
        font-size: 15pt;
        color: #fff;
        background: #26b522;
    }

    /* Main styles */

    #main { padding: 0 3rem; }

    .main-section-title { 
        font-size: 35pt;
        font-weight: 400;
    }

    /* Main About */

    .main-about-article {
        gap: 30px;
        display: grid;
        align-items: stretch;
    }

    .main-about-first { grid-template-columns: 50% auto; }

    .main-about-second { grid-template-columns: auto 50%; }

    #main-about-buttonFirst {
        width: 163px;
        height: 44px;
        margin-left: 0;
        margin-right: auto;

        display: block;

        background: #587292;
    }

    .main-about-second { height: auto; }

    .main-about-article-content { 
        padding: 0;
        margin-bottom: var(--spacing-34px);
    }

    .main-about-image { width: 100%; }
    #main-about-image-mobile { display: none; }
    #main-about-image-desktop { display: inline; }
    #main-about-buttonArticle { display: none; }
    
    /* Main-Portfolio */

    .main-portfolio-article {
        gap: 1rem;
        padding: 0 1rem;
        box-sizing: border-box;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .main-portfolio-imageMobile { height: auto; }

    /* Main Depoimentos */
    
    .main-testimony-article { height: 150px; }
    .testimony-carousel-container-mobile { display: none; }
    .testimony-carousel-container-tablets { display: block; }
    .carousel-slide { display: flex; }
    .testimony-rating { margin-bottom: 10px; }
    .testimony-rating-icon,
    .testimony-profile-name { font-size: 12pt; }
    .testimony-profile-picture { font-size: 25pt;}
    .testimony-profile-name { margin-bottom: 15px; }
    .testimony-profile-content { 
        font-size: 10pt;
        padding: 0 5px;
        box-sizing: border-box;
    }

    /* Main Contato */

    #main-form { padding: 0 4rem; }
    
    /* Footer Styles */

    #footer {
        padding: 2rem 6rem;
    }
    
    .footer-section {
        text-align: left;
        padding: 1rem;
        border: 3pt solid #fff;
    }

    .footer-article-logo {
        width: fit-content;
        margin: 0 auto;
    }
    .footer-article-newsletter-text { 
        text-align: center;
        margin-bottom: 30px; 
    }

    .footer-text {
        display: inline;
        font-size: 19pt;
    }

    #footer-form {
        margin-bottom: 57px;
        height: 45px;
        align-items: stretch;
    }

    .footer-input { width: 60%; }

    #footer-button {
        height: auto;
        font-size: 15pt;
    }

    #footer-portfolio {
        margin-top: 19px;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-portfolio-link {
        width: 100px;
        height: 100px;
        align-items: center;
    }
    
    .footer-portfolio-link,
    .footer-portfolio-link:nth-of-type(2n) { margin: 0 auto; }
    .footer-portfolio-link p { font-size: 12pt; }
    .footer-portfolio-link img { max-width: 100%; }
    
    .footer-section-menus { padding: 0; }

    .footer-menu-listItem,
    .footer-about-listItem {
        text-align: center;
        font-size: 14pt;
        margin-bottom: 22px;
    }

    .footer-menu-listItem:last-of-type,
    .footer-about-listItem:last-of-type { margin-bottom: 0; }
}

@media (min-width: 1200px) {
    /* Header Styles */

    #header {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    /* Main styles */

    #main { padding: 0 6rem; }

    /* Main About */

    .main-about-first { grid-template-columns: 25% auto; }
    .main-about-second { grid-template-columns: auto 25%; }
    #main-about-image-desktop { display: inline; }

    /* Main Depoimentos */

    .testimony-carousel-container-tablets { display: none; }
    .testimony-carousel-container-Desktop { display: block; }

    /* Main Contato */

    #main-form { padding: 0 6rem; }

    #main-form-personalInfo,
    #main-form-contactInfo {
        gap: 42px;
        display: grid;
    }
    
    #main-form-personalInfo { 
        margin-bottom: 30px;
        grid-template-columns: repeat(3, 1fr);
     }

    #main-form-contactInfo { 
        align-items: stretch;
        grid-template-columns: repeat(2, 1fr);
     }

    .main-form-group-phone-mobile { display: none; }
    .main-form-group-phone-desktop{ 
        display: block;
        margin-bottom: 17px;
     }

    .main-form-group-message { height: 100%; }

    #main-form-footer {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    #main-form-helper-text {
        text-align: left;
        width: 40%;
        margin: 0;
        font-size: 10pt;
        line-height: 2rem;
    }

    #main-form-button {
        margin: 0;
        width: 186px;
        height: auto;
    }

    /* Footer */

    #footer {
        padding: 2rem 6rem;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .footer-article-logo { display: none; }

    .footer-text {
        display: inline;
        font-size: 19pt;
    }

    .footer-section {
        text-align: left;
        padding: 1rem;
        border: 3pt solid #fff;
    }

    .footer-section:last-of-type { border-left: 0; }
    .footer-article-newsletter-text { margin-bottom: 30px;}

    #footer-form {
        margin-bottom: 57px;
        height: 45px;
        align-items: stretch;
    }

    .footer-input { width: 60%; }

    #footer-button {
        height: auto;
        font-size: 15pt;
    }

    #footer-portfolio {
        margin-top: 19px;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-portfolio-link {
        width: 100px;
        height: 100px;
        align-items: center;
    }
    
    .footer-portfolio-link,
    .footer-portfolio-link:nth-of-type(2n) { margin: 0 auto; }
    .footer-portfolio-link p { font-size: 12pt; }
    .footer-portfolio-link img { max-width: 100%; }

    .footer-section-menus {
        display: flex;
        flex-direction: column;
    }

    .footer-menus {display: flex; }

    .footer-section-button {
        cursor: default;
        display: block;
        margin: 0;
        margin-right: auto;
        font-size: 19pt;
    }

    .footer-section-buttonIcon { display: none; }

    .footer-menu {
        width: 100%;
        padding: 19px;
        text-align: left;
        box-sizing: border-box;
    }

    .footer-menus-divider { display: none; }

    .footer-section-button:hover { background: none; }

    .footer-menu-list,
    .footer-about-list {
        margin: 32px 0 0;
        height: 100%;
    }

    .footer-menu-listItem,
    .footer-about-listItem { 
        text-align: left;
        font-size: 14pt;
        margin-bottom: 22px;
    }

    .footer-menu-listItem:last-of-type,
    .footer-about-listItem:last-of-type { margin-bottom: 0; }
    
    .footer-article-logo-desktop { 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}